body {
  background: lightskyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: system-ui;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 50px;
  animation: 300ms latido infinite;
}

@keyframes latido {
  0% {
    transform: scale(1.1)
  }
  50% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.1)
  }
}